@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

$color:#0080ff;
$color-dos :#2b5a89;
$color-tres: #ff9c00;

%tittle {
    color: $color;
    font-family: 'Quicksand', sans-serif;
}

%text {
    color: $color-dos;
    font-family: 'Quicksand', sans-serif;
}

%width {
    width: 100%;
}

%logo {
    height: 48.8px;
    padding-top: 25px;
    padding-right: 30px;
}

%error {
    color: $color-tres;
    font-weight: 600;
    font-size: 13px;
}

/*mobile first*/
body {
    min-width: 320px;
}

.cabecera {
    background-color: $color;
    @extend %width;
    @extend %text;
    font-weight: lighter;
    position: fixed;
    z-index: 3;
    height: 95px;

    ul {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: rgba(0, 128, 225, 0.90);
        list-style: none;
    }

    li {
        height: 60px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
    }

    a {
        display: block;
        padding: 10px 10px;
        text-decoration: none;
        padding-left: 20px;
        transition: all 500ms ease;
        font-size: 15px;
        color: white;
    }
}

.banderas {
    width: 25px;
    height: 25px;
}

.a-hover {
    &:hover {
        cursor: pointer;
    }
}

.cabecera {
    .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        margin-top: 95px;
        @extend %width;

        i {
            color: white;
        }
    }

    .menu-icon {
        cursor: pointer;
        float: left;
        padding-right: 20px;
        padding-top: 50px;
        position: relative;
        user-select: none;
        margin-left: 30px;
        display: flex;
        align-items: center;
    }

    .hamburguesa-icon {
        background: white;
        height: 2px;
        position: relative;
        transition: .2s ease-out;
        width: 15px;
    }
}

.cabecera {
    .menu-icon {
        .hamburguesa-icon {

            &:before,
            &:after {
                background: white;
                content: '';
                border-radius: 2px 50%;
                display: block;
                height: 100%;
                position: absolute;
                transition: all .2s ease-out;
                @extend %width;
            }
        }

    }

}



.cabecera {
    .menu-icon {
        .hamburguesa-icon:before {
            top: 6px;
        }
    }
}

.cabecera {
    .menu-icon {
        .hamburguesa-icon:after {
            top: -6px;
        }
    }
}

.cabecera {
    .menu-btn {
        display: none;
    }
}


.cabecera {
    .menu-btn {
        &:checked {
            ~nav {
                .menu {
                    max-height: 579px;
                }
            }
        }
    }
}

.cabecera {
    .menu-btn {
        &:checked {
            ~.menu-icon {
                .hamburguesa-icon {
                    background: transparent;
                }
            }
        }
    }
}

.cabecera {
    .menu-btn:checked {
        ~.menu-icon {
            .hamburguesa-icon {
                &:before {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.cabecera {
    .menu-btn {
        &:checked~ {
            .menu-icon .hamburguesa-icon:after {
                transform: rotate(45deg);
            }
        }
    }
}

.cabecera {
    .menu-btn:checked {
        ~.menu-icon {
            &:not(.steps) {
                .hamburguesa-icon {

                    &:before,
                    &:after {
                        top: 0;
                    }
                }
            }
        }
    }
}

#logo {
    @extend %logo;
    float: right;
}

.menu-nav {
    .sub-menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        @extend %width;
    }

    .submenu-icon {
        cursor: pointer;
        user-select: none;
        display: flex;
        align-items: center;
        color: white;
        font-weight: bold;
    }
}


.toggle {
    #submenu-btn {
        display: none;
    }
}


.toggle {
    height: 70px;

    #submenu-btn {
        &:checked {
            ~.sub-menu {
                max-height: 58%;
            }
        }
    }
}

.spanish {
    position: relative;
    top: -12px;
    left: -4px;
}

.english {
    margin-right: 5px;
    margin-left: 5px;
}

#principal {
    padding-top: 120px;
    @extend %tittle;
    @extend %width;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    font-size: 20px;
}

#line {
    height: 1px;
    width: 300px;
    background-color: $color;
}

.text-body {
    margin-top: 30px;
    margin-left: 8%;
    margin-right: 8%;
    @extend %text;
}

#ubication {
    color: #ff9c00;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

iframe {
    @extend %width;
    height: 300px;
}

.line-2 {
    height: 1px;
    width: 120px;
    background-color: $color-tres;
    margin-top: 3px;
}

#list-form {
    font-weight: bold;
    list-style: none;
}

form {
    input[type=checkbox] {
        display: none;

        +label {
            cursor: pointer;
        }
    }

    input[type=checkbox] {
        +label:before {
            content: "";
            border: 0.1em solid #ff9c00;
            border-radius: 0.2em;
            display: inline-block;
            width: 1em;
            height: 1em;
            padding-left: 0.2em;
            padding-bottom: 0.3em;
            margin-right: 0.2em;
            vertical-align: bottom;
            color: transparent;
            transition: .2s;
        }
    }

    input[type=checkbox] {
        +label:active:before {
            transform: scale(0);
        }
    }

    input[type=checkbox]:checked {
        +label:before {
            background-color: $color-tres;
            border-color: $color-tres;
        }
    }

    label {
        @extend %width;
    }

}

.input {
    @extend %width;
    margin-top: 3px;
    border: 1px solid $color;
    border-radius: 5px;
    height: 30px;
}

.item-lista {
    display: flex;
    flex-flow: column nowrap;

}

textarea {
    @extend %width;
    margin-top: 3px;
    border: 1px solid $color;
    border-radius: 5px;
}

#msg {
    height: 100px;
}

.terms {
    @extend %text;
    font-weight: lighter;
    font-size: 12px;
}

#errorBox {
@extend %error;
}

#errorBoxtel {
    @extend %error;
    }

#button-list {
    text-align: center;
}

button {
    background-color: $color-tres;
    width: 150px;
    border: 0;
    @extend %text;
    color: white;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
}

#contenedor-redes {
    display: flex;
    flex-flow: row wrap;
    @extend %width;
    justify-content: center;
}

.circle-redes {
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 12px -3px #000403;
}

i {
    color: #adafbb;
}

footer {
    @extend %width;
    @extend %text;
    background-color: $color;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

#contenedor-footer {
    font-weight: 600;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    @extend %width;
}

.menu-footer {
    list-style: none;
}

#logo-footer {
    height: 70px;
    float: left;
    margin-right: 50px;
}

.footer-list {
    margin-bottom: 6px;
}

.contenedor-iasb {
    @extend %width;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#iasb {
    height: 40px;
}

#line-footer {
    width: 100px;
    height: 1px;
    background-color: white;
}

#contenedor-palabras-footer {
    @extend %width;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 10px;
}

/*versión tablet*/
@media screen and (min-width: 600px) {
    .item-lista {
        width: 80%;
        padding-top: 20px;
    }

    #map {
        width: 100%;
    }

    #ubication {
        width: 80%;
    }

    .text {
        width: 80%;
    }

    #contenedor-2 {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    #contenedor-form {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #form {
        width: 100%;
    }
    
    #terms-li {
        margin-top: 20px;
        text-align: center;
    }

    #list-form {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    #button-list {
        width: 100%;
        padding-top: 20px;
    }

}

//versión web 

@media screen and (min-width: 1100px) {

    .cabecera {


        li {
            float: left;
            position: unset;
            padding-bottom: 0;
            padding-top: 17px;
            height: 65px;

        }

        #logo {
            float: right;
            height: 70px;
            padding-top: 15px;
            padding-right: 195px;
        }

        a {
            padding: 20px 0;
            margin-top: 20px;
            color: white;
            font-size: 12px;
        }

        .menu {
            width: unset;
            clear: none;
            float: left;
            max-height: none;
            background: $color;
            margin-top: 10px;
            margin-left: 180px;
        }
    }

    .cabecera .menu-icon {
        display: none;
    }

    .fa-search {
        margin-left: 100px;
    }

    .li-hover {
        margin-right: 20px;
    }

    .fa-search {
        margin-right: 20px;
    }

    .li-hover:hover {
        border-bottom: 3.5px solid white;
    }


    .english {
        margin-left: 0;
        margin-top: 20px;
    }

    #plus {
        margin-top: 20px;
    }

    .text-body {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-right: 0;
        margin-left: 200px;
    }

    .text {
        font-size: 12px;
        font-weight: 700;
    }

    #contenedor-redes {
        display: flex;
        flex-flow: row wrap;
        width: 50px;
        height: 100px;
        margin-left: 170px;
        margin-right: 10px;
        top: -86px;
        position: relative;
    }

    #contenedor-2 {
        width: 50%;
        margin-top: 20px;
    }

    #contenedor-form {
        width: 50%;
    }

    iframe {
        width: 100%;
        height: 250px;
    }

    #ubication {
        font-size: 13px;
    }

    .color {
        color: $color;
    }

    #space {
        height: 100px;
    }

    .menu-footer {
        display: flex;
        flex-flow: row wrap;
    }

    .footer-list {
        margin-right: 50px;
    }

    #contenedor-footer {
        font-size: 12px;
        align-items: center;
    }
}